.menu-button {
  position: absolute;
  right: 23px;
  top: 22px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover,
  &:active {
    fill: var(--hover-effect);
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu-container {
  background-color: var(--background-color);
  padding: 48px 40px;
  font-size: 18px;
  z-index: 2;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 796px;
    margin: 0 auto;

    &.is-open {
      display: block;
    }
    &.is-open .contacts__email,
    &.is-open .contacts__phone {
      display: none;
    }
  }
  @include respond-to('tablet') {
    display: flex;
    flex-grow: 1;
  }
}
