.menu__button {
  position: fixed;
  right: 25px;
  top: 22px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover,
  &:active {
    fill: var(--hover-effect);
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu__container {
  background-color: var(--background-color);

  @media screen and (max-width: 767px) {
    font-size: 18px;
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    height: 796px;
    margin: 0 auto;
    padding: 48px 40px;

    &.is-open {
      display: block;
    }
    &.is-open .contacts__email,
    &.is-open .contacts__phone {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    height: 32px;
  }
}
