:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-effect: #2196f3;
  --button-background: #f5f4fa;
  --background-color: #fff;
  --footer-bg-color: #2f303a;
  --border-color: #eeeeee;
  --background-color-cards: #5E5E5;
  --icons-color: #afb1b8;
  --button-footer-bgc: rgba(255, 255, 255, 0.1);
  --thumb-color-opacity: rgba(33, 150, 243, 0.9);
  --cubic-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
