/* Класс невидимки */
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
.container {
  @include respond-to(mobile) {
    width: 480px;
  }
  @include respond-to(tablet) {
  }
  @include respond-to(desctop) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section:nth-child(4n) {
  background-color: var(--button-background);
}
.section--padding {
  padding-top: 0;
}
/* Страница контактов */
.test {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
}
.construct {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}
.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/*-------------- Хэдер------------------- */
.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.nav__main {
  @include respond-to(mobile) {
  }
  @include respond-to(tablet) {
  }
  @include respond-to(desctop) {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__logo {
  @include respond-to(mobile) {
    padding-top: 16px;
    padding-left: 15px;
    padding-bottom: 16px;
  }
  @include respond-to(tablet) {
  }
  @include respond-to(desctop) {
    padding: 0;
    display: flex;
    margin-left: 10px;
  }
}
.nav__list {
  @include respond-to(mobile) {
    display: none;
  }
  @include respond-to(tablet) {
  }
  @include respond-to(desctop) {
    display: flex;
    align-items: center;
    width: 294px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-button {
  position: absolute;
  right: 23px;
  top: 22px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover,
  &:active {
    fill: var(--hover-effect);
  }
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: teal;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  &.is-open {
    display: block;
  }
}

// Футер
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
  display: flex;
  align-items: center;
}
.footer--align {
  display: flex;
  align-items: baseline;
}
