/* Контакты в шапке */

.contacts {
  display: flex;
  width: 357px;
  justify-content: space-between;
}
.contacts__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    color: var(--hover-effect);
  }
  &:hover .contacts__email,
  &:focus .contacts__email,
  &:hover .contacts__phone,
  &:focus .contacts__phone {
    fill: currentColor;
  }
}
.contacts__email {
  width: 16px;
  height: 12px;
  fill: var(--secondary-text-color);
  margin-right: 10px;
}
.contacts__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

.nav__link {
  position: relative;

  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  padding-bottom: 24px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.nav__link::after {
  position: absolute;

  content: '';

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-effect);
  border-radius: 2px;
  bottom: 0;
  /* opacity: 0; */
}
.nav__link:hover,
.nav__link:focus {
  color: var(--hover-effect);
}
.nav__link.current {
  color: var(--hover-effect);
}

/* Блок контактов внизу */
.address__list {
  margin-top: 20px;
}
.address__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-style: normal; /* здесь пришлось перебить тег адрес */
  font-weight: 400;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--background-color);
  }
}
.address__item:not(:last-child) {
  align-content: space-between;
  margin-bottom: 9px;
}
