.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  &__input-box {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.1;
    color: var(--secondary-text-color);

    position: relative;
    text-align: left;
  }
  &__form {
    margin-top: 12px;
  }
  &__icon {
    position: absolute;
    display: block;
    top: 55%;
    left: 15px;

    transition: 250ms var(--cubic-transition) fill;
  }
  &__policy-link {
    text-decoration: underline;
    color: var(--hover-effect);
  }
}
.modal__form-comment {
  font-family: inherit;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  transition: 250ms var(--cubic-transition) border;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--hover-effect);
  }
}
.modal__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.5em;
  transition: 250ms var(--cubic-transition) var(--hover-effect);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: var(--hover-effect);
  }
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding: 0 10px 0 35px;
  transition: 250ms var(--cubic-transition) border;
  &:focus {
    outline: none;
    border: 1px solid var(--hover-effect);
  }
}
.modal__input:focus + .modal__icon {
  fill: var(--hover-effect);
}

.modal__policy-box {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px;
  }
}

.modal__policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .modal__policy-box:before {
    background-color: var(--hover-effect);
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &:focus + .modal__policy-box:before {
    border: 2px solid var(--hover-effect);
  }
}

.modal__button {
  background-color: var(--hover-effect);
  color: var(--background-color);
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
