/* ---------------Страница Портфолио----------------------- */

/* Блок проэктов */
.projects-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
  padding: 0;
}
.project-link {
  text-decoration: none;
  display: block;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .thumb-overlay {
    transform: translatey(0);
  }
}
.card-footer {
  padding: 20px 24px;
}

.project-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.project-title {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.project-image {
  margin-left: 0;
  margin-right: 0;
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.thumb-overlay {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(101%);
  background: var(--thumb-color-opacity);
  font-size: 18px;
  line-height: 1.5;
  color: var(--background-color);
  text-align: center;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
